:root {
    --main-color: rgba(255, 215, 0, 1);
    --default-border: 1px solid grey;
}

body {
    margin: 20px;
    height: 100vh;
}

a {
    font-size: 40px;
    text-decoration: none;
    background-color: var(--main-color);
    color: tomato;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
a:hover {
    background-color: tomato;
    color: var(--main-color);
}
