:root {
    --main-color: rgba(255, 215, 0, 1);
    --default-border: 1px solid grey;
}

body {
    margin: 20px;
    height: 100vh;
}

p {
    background-color: var(--main-color);
    border: var(--default-border);
}
