:root {
    --main-color: rgba(255, 215, 0, 1);
    --default-border: 1px solid grey;
}

body {
    margin: 20px;
    height: 100vh;
}

img {
    border-radius: 50%;
    border: var(--default-border);
    transition: transform 2s ease-in-out;
}

img:hover {
    transform: rotateY(180deg) scale(0.5);
}
