#chat-screen {
    background-color: var(--blue);
}

.timestamp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timestamp__content {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

@keyframes fadeInMessage {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInMessageOwn {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.message-row {
    opacity: 0;
    width: 100%;
    margin-top: 20px;
    display: flex;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
    animation: fadeInMessage 1s ease-in-out forwards;
}

.message-row:nth-child(2){
    animation-delay: 1s;
}
.message-row:nth-child(3){
    animation-delay: 2s;
}
.message-row:nth-child(4){
    animation-delay: 3s;
}

.message-row__own {
    justify-content: flex-end;
    animation: fadeInMessageOwn 1s ease-in-out forwards;
    animation-delay: 4s;
}

.message-row img {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin-right: 5px;
}

.message-author {
    margin-bottom: 5px;
}

.message-info {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.message-row__own .message-info {
    flex-direction: row-reverse;
}

.message-bubble {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border-top-left-radius: 0px;
}

.message-row__own .message-bubble {
    margin-right: 0px;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
}

.message-time {
    font-size: small;
    color: rgba(255, 255, 255, 0.5);
}

.reply {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.reply-column:first-child {
    width: 10%;
    color: rgba(0, 0, 0, 1);
}

.reply-column:last-child {
    width: 90%;
    display: flex;
    position: relative;
    margin-right: 5px;
}

.reply-column input {
    width: 93%;
    border-radius: 15px;
    padding: 10px;
    border: 1px, solid, rgba(0, 0, 0, 1);
}

.reply-button__list {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 5px;
}

.reply-button__list span i {
    font-size: 26px;
}
.reply-button__list button {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 1);
    margin-left: 5px;
    border-style: none;
    color: rgba(255, 255, 255, 1);
}
