.friends-screen__channel {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.friends-screen__channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    color: rgba(0, 0, 0, 0.5);
}

#friends-display-link {
    background-color: #f9f9fa;
    display: block;
    text-align: center;
    padding: 10px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
}

@keyframes hiddensplashscreen {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.splash-screen {
    background-color: var(--blue);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: rgba(255, 255, 255, 1);
    animation: hiddensplashscreen 1s ease-in-out forwards;
    animation-delay: 1s;
}
