.screen-header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top: 30px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.screen-header__title {
    font-size: 40px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
}
